servicemix-bpe/src/test/resources/loanbroker/loanbroker.wsdl

<definitions targetNamespace="urn:logicblaze:soa:loanbroker"
	xmlns:tns="urn:logicblaze:soa:loanbroker"
	xmlns:typens="urn:logicblaze:soa:loanbroker:types"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/">

	<import namespace="urn:logicblaze:soa:creditagency"
		location="creditagency.wsdl" />

	<import namespace="urn:logicblaze:soa:bank"
		location="bank.wsdl" />

	<!-- type defs -->
	<types>
		<xsd:schema
			targetNamespace="urn:logicblaze:soa:loanbroker:types"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:complexType name="getLoanQuoteRequest">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
					<xsd:element name="amount" type="xsd:double" />
					<xsd:element name="duration" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getLoanQuoteResponse">
				<xsd:sequence>
					<xsd:element name="rate" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="unknownSSNFault">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="invalidSSNFault">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>

	<message name="getLoanQuoteRequest">
		<part name="payload" type="typens:getLoanQuoteRequest" />
	</message>

	<message name="getLoanQuoteResponse">
		<part name="payload" type="typens:getLoanQuoteResponse" />
	</message>

	<message name="unknownSSNFault">
		<part name="payload" type="typens:unknownSSNFault" />
	</message>

	<message name="invalidSSNFault">
		<part name="payload" type="typens:invalidSSNFault" />
	</message>

	<portType name="LoanBroker">
		<operation name="getLoanQuote">
			<input message="getLoanQuoteRequest" />
			<output message="getLoanQuoteResponse" />
			<fault name="UnknownSSN" message="tns:unknownSSNFault" />
			<fault name="InvalidSSN" message="tns:invalidSSNFault" />
		</operation>
	</portType>

	<!-- 
		<plnk:partnerLinkType name="test1Request">
		<plnk:role name="test1Service">
		<plnk:portType name="test1PT"/>
		</plnk:role>
		</plnk:partnerLinkType>
		
		<plnk:partnerLinkType name="probeRequest">
		<plnk:role name="probeService">
		<plnk:portType name="prb:probeMessagePT"/>
		</plnk:role>
		</plnk:partnerLinkType>
	-->

	<binding name="LoanBroker" type="tns:LoanBroker">
		<operation name="request"></operation>
	</binding>
	<service name="LoanBrokerService">
		<port name="loanbroker" binding="tns:LoanBroker" />
	</service>
</definitions>
