servicemix-sca/src/test/java/org/apache/servicemix/sca/bigbank/account/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2005-2006 The Apache Software Foundation.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.bigbank.com/AccountService/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.bigbank.com/AccountService/"

                  name="AccountService">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.bigbank.com/AccountService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="customerID" type="xsd:string"/>
            <xsd:element name="getAccountReportResponse" type="tns:AccountReport"/>

            <xsd:complexType name="AccountReport">
                <xsd:sequence>
                    <xsd:element name="accountSummary" type="tns:AccountSummary" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountSummary">
                <xsd:sequence>
                    <xsd:element name="accountNumber" type="xsd:string"/>
                    <xsd:element name="accountType" type="xsd:string"/>
                    <xsd:element name="balance" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getAccountReportRequest">
        <wsdl:part element="tns:customerID" name="getAccountReportRequest"/>
    </wsdl:message>
    <wsdl:message name="getAccountReportResponse">
        <wsdl:part element="tns:getAccountReportResponse" name="getAccountReportResponse"/>
    </wsdl:message>
    <wsdl:portType name="AccountService">
        <wsdl:operation name="getAccountReport">
            <wsdl:input message="tns:getAccountReportRequest"/>
            <wsdl:output message="tns:getAccountReportResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountServiceJBI" type="tns:AccountService">
    </wsdl:binding>
    <wsdl:service name="AccountService">
        <wsdl:port binding="tns:AccountServiceJBI"
                   name="AccountServiceJBI">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
