distributions/apache-servicemix/src/sandbox/bpel-bpe/src/bpe-su/loanbroker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<definitions targetNamespace="urn:logicblaze:soa:loanbroker"
	xmlns:tns="urn:logicblaze:soa:loanbroker"
	xmlns:typens="urn:logicblaze:soa:loanbroker:types"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/">

	<import namespace="urn:logicblaze:soa:creditagency"
		location="creditagency.wsdl" />

	<import namespace="urn:logicblaze:soa:bank"
		location="bank.wsdl" />

	<!-- type defs -->
	<types>
		<xsd:schema
			targetNamespace="urn:logicblaze:soa:loanbroker:types"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:complexType name="getLoanQuoteRequest">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
					<xsd:element name="amount" type="xsd:double" />
					<xsd:element name="duration" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getLoanQuoteResponse">
				<xsd:sequence>
					<xsd:element name="rate" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="unknownSSNFault">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="invalidSSNFault">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>

	<message name="getLoanQuoteRequest">
		<part name="payload" type="typens:getLoanQuoteRequest" />
	</message>

	<message name="getLoanQuoteResponse">
		<part name="payload" type="typens:getLoanQuoteResponse" />
	</message>

	<message name="unknownSSNFault">
		<part name="payload" type="typens:unknownSSNFault" />
	</message>

	<message name="invalidSSNFault">
		<part name="payload" type="typens:invalidSSNFault" />
	</message>

	<portType name="LoanBroker">
		<operation name="getLoanQuote">
			<input message="tns:getLoanQuoteRequest" />
			<output message="tns:getLoanQuoteResponse" />
			<fault name="UnknownSSN" message="tns:unknownSSNFault" />
			<fault name="InvalidSSN" message="tns:invalidSSNFault" />
		</operation>
	</portType>

	<!-- 
		<plnk:partnerLinkType name="test1Request">
		<plnk:role name="test1Service">
		<plnk:portType name="test1PT"/>
		</plnk:role>
		</plnk:partnerLinkType>
		
		<plnk:partnerLinkType name="probeRequest">
		<plnk:role name="probeService">
		<plnk:portType name="prb:probeMessagePT"/>
		</plnk:role>
		</plnk:partnerLinkType>
	-->

	<binding name="LoanBroker" type="tns:LoanBroker">
		<operation name="request"></operation>
	</binding>
	<service name="LoanBrokerService">
		<port name="loanbroker" binding="tns:LoanBroker" />
	</service>
</definitions>
