samples/wsdl-first/jsr181-su/src/main/resources/person.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="wsdl-first"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://servicemix.apache.org/samples/wsdl-first"
	xmlns:typens="http://servicemix.apache.org/samples/wsdl-first/types"
	targetNamespace="http://servicemix.apache.org/samples/wsdl-first">

	<wsdl:types>
		<xsd:schema targetNamespace="http://servicemix.apache.org/samples/wsdl-first/types">
			<xsd:element name="GetPersonRequest">
			    <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPersonResponse">
			    <xsd:complexType>
					<xsd:sequence>
					    <xsd:element name="personId" type="xsd:string"/>
						<xsd:element name="ssn" type="xsd:string"/>
						<xsd:element name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UnknownPersonFault">
			    <xsd:complexType>
					<xsd:sequence>
					    <xsd:element name="personId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
	
	<wsdl:message name="GetPersonRequest">
		<wsdl:part name="payload" element="typens:GetPersonRequest"/>
	</wsdl:message>
	<wsdl:message name="GetPersonResponse">
		<wsdl:part name="payload" element="typens:GetPersonResponse"/>
	</wsdl:message>
	<wsdl:message name="UnknownPersonFault">
		<wsdl:part name="payload" element="typens:UnknownPersonFault"/>
	</wsdl:message>

    <wsdl:portType name="Person">
		<wsdl:operation name="getPerson">
			<wsdl:input message="tns:GetPersonRequest"/>
			<wsdl:output message="tns:GetPersonResponse"/>
			<wsdl:fault name="UnknownPerson" message="tns:UnknownPersonFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
    <wsdl:binding name="PersonSOAPBinding" type="tns:Person">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPerson">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownPerson">
				<soap:fault use="literal" name="UnknownPerson" />
			</wsdl:fault>
       </wsdl:operation>
   </wsdl:binding>

	<wsdl:service name="PersonService">
    	<wsdl:port binding="tns:PersonSOAPBinding" name="soap">
           <soap:address location="http://www.example.org/" />
       </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
