sandbox/servicemix-wspojo/wsdl/SoapBaseNotificationServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Service-Consumer"
  targetNamespace="http://servicemix.org/wspojo/notification/"
  xmlns:tns="http://servicemix.org/wspojo/notification/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy"
  xmlns:wsnt="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd"
  xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
  xmlns:wsbn="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BrokeredNotification-1.2-draft-01.xsd"
  xmlns:wsbnw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BrokeredNotification-1.2-draft-01.wsdl"
  xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
  xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
  xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
  xmlns:wsrl="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd"
  xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl">
  <wsdl:import
    namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    location="WS-BaseNotification-1_2-Draft_01.wsdl">
  </wsdl:import>
  <wsdl:types>
    <xsd:schema
      targetNamespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd"
      elementFormDefault="qualified">

      <xsd:include
        schemaLocation="WS-BaseNotification-1_2-Draft_01.xsd" />

      <xsd:import
        namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing"
        schemaLocation="WS-Addressing-2003_03.xsd" />

    </xsd:schema>

  </wsdl:types>
  <wsdl:message name="EndpointReference">
    <wsdl:part name="endpointReference"
      element="wsa:EndpointReference">
    </wsdl:part>
  </wsdl:message>
  <wsdl:binding name="NotificationConsumerSOAP"
    type="wsntw:NotificationConsumer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document" />
    <wsdl:operation name="Notify">
      <soap:operation />
      <wsdl:input>
        <soap:body parts="Notify" use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationProducerSOAP"
    type="wsntw:NotificationProducer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document" />
    <wsdl:operation name="Subscribe">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/Subscribe" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="SubscribeCreationFailedFault">
        <soap:fault use="literal" name="SubscribeCreationFailedFault" />
      </wsdl:fault>
      <wsdl:fault name="TopicPathDialectUnknownFault">
        <soap:fault use="literal" name="TopicPathDialectUnknownFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/GetCurrentMessage" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTopicExpressionFault">
        <soap:fault use="literal" name="InvalidTopicExpressionFault" />
      </wsdl:fault>
      <wsdl:fault name="TopicNotSupportedFault">
        <soap:fault use="literal" name="TopicNotSupportedFault" />
      </wsdl:fault>
      <wsdl:fault name="NoCurrentMessageOnTopicFault">
        <soap:fault use="literal" name="NoCurrentMessageOnTopicFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/GetResourceProperty" />
      <wsdl:input name="GetResourcePropertyRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault use="literal"
          name="InvalidResourcePropertyQNameFault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="SubscriptionManagerSOAP"
    type="wsntw:SubscriptionManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document" />
    <wsdl:operation name="GetResourceProperty">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/GetResourceProperty" />
      <wsdl:input name="GetResourcePropertyRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault use="literal"
          name="InvalidResourcePropertyQNameFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/Destroy" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="ResourceNotDestroyedFault">
        <soap:fault use="literal" name="ResourceNotDestroyedFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetTerminationTime">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/SetTerminationTime" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="UnableToSetTerminationTimeFault">
        <soap:fault use="literal"
          name="UnableToSetTerminationTimeFault" />
      </wsdl:fault>
      <wsdl:fault name="TerminationTimeChangeRejectedFault">
        <soap:fault use="literal"
          name="TerminationTimeChangeRejectedFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PauseSubscription">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/PauseSubscription" />
      <wsdl:input>
        <soap:header message="tns:EndpointReference"
          part="endpointReference" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="PauseFailedFault">
        <soap:fault use="literal" name="PauseFailedFault" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResumeSubscription">
      <soap:operation
        soapAction="http://servicemix.org/wspojo/notification/ResumeSubscription" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" />
      </wsdl:fault>
      <wsdl:fault name="ResumeFailedFault">
        <soap:fault use="literal" name="ResumeFailedFault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:service name="NotificationConsumerService">
    <wsdl:port name="SOAP" binding="tns:NotificationConsumerSOAP">
      <soap:address location="http://www.example.org/" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="NotificationProducerService">
    <wsdl:port name="SOAP" binding="tns:NotificationProducerSOAP">
      <soap:address location="http://www.example.org/" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="SubscriptionManagerService">
    <wsdl:port name="SOAP" binding="tns:SubscriptionManagerSOAP">
      <soap:address location="http://www.example.org/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
