apache-servicemix/src/main/release/examples/bpel-bpe/src/bpe-su/creditagency.wsdl

<definitions targetNamespace="urn:logicblaze:soa:creditagency"
	xmlns:tns="urn:logicblaze:soa:creditagency"
	xmlns:typens="urn:logicblaze:soa:creditagency:types"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/">

	<types>
		<xsd:schema
			targetNamespace="urn:logicblaze:soa:creditagency:types"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:complexType name="getCreditScoreRequest">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getCreditScoreResponse">
				<xsd:sequence>
					<xsd:element name="score" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getCreditHistoryLengthRequest">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getCreditHistoryLengthResponse">
				<xsd:sequence>
					<xsd:element name="length" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="unknownSSNFault">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>

	<message name="getCreditScoreRequest">
		<part name="payload" type="typens:getCreditScoreRequest" />
	</message>

	<message name="getCreditScoreResponse">
		<part name="payload" type="typens:getCreditScoreResponse" />
	</message>

	<message name="getCreditHistoryLengthRequest">
		<part name="payload"
			type="typens:getCreditHistoryLengthRequest" />
	</message>

	<message name="getCreditHistoryLengthResponse">
		<part name="payload"
			type="typens:getCreditHistoryLengthResponse" />
	</message>

	<message name="unknownSSNFault">
		<part name="payload" type="typens:unknownSSNFault" />
	</message>

	<message name="invalidSSNFault">
		<part name="payload" type="typens:invalidSSNFault" />
	</message>

	<portType name="CreditAgency">
		<operation name="getCreditScore">
			<input message="tns:getCreditScoreRequest" />
			<output message="tns:getCreditScoreResponse" />
			<fault name="UnknownSSN" message="tns:unknownSSNFault" />
			<fault name="InvalidSSN" message="tns:invalidSSNFault" />
		</operation>
		<operation name="getCreditHistoryLength">
			<input message="tns:getCreditHistoryLengthRequest" />
			<output message="tns:getCreditHistoryLengthResponse" />
			<fault name="UnknownSSN" message="tns:unknownSSNFault">
			</fault>
		</operation>
	</portType>

</definitions>
