xdocs/servicemix-jsr181-2.1-SNAPSHOT.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.org/jsr181/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.org/jsr181/1.0'>

  <!-- element for type: org.servicemix.jsr181.Jsr181SpringComponent -->
  <xs:element name='component'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.servicemix.jsr181.Jsr181Endpoint -->
  <xs:element name='endpoint'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='pojo' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='annotations' type='xs:string'/>
      <xs:attribute name='pojo' type='xs:string'/>
      <xs:attribute name='pojoClass' type='xs:string'/>
      <xs:attribute name='serviceInterface' type='xs:string'/>
      <xs:attribute name='typeMapping' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
